# Variable declaration

In [6]:
# Python does type inferencing
salary = 24000.90

In [8]:
print(f"Datatype is {type(salary)}\nValue is {salary}")

Datatype is <class 'float'>
Value is 24000.9

In [9]:
# Using single ('') or double ("") quotes doesn't matter in Python
name = "Steven"
bonus = 5000
indicator = True

In [10]:
print(name, bonus, indicator)
print(type(name), type(bonus), type(indicator))

Steven 5000 True
<class 'str'> <class 'int'> <class 'bool'>

# Arithmetic operations

In [12]:
num1 = 10
num2 = 20

In [14]:
result = (num1*10 + num2*90)+500
print("Results", result)

Results 2400

In [15]:
result = (num1<num2) and (num1 != num2)
print("Comparison", result)

Comparison True

# Loops

## While loops

In [16]:
counter = 0

while(counter <= 10):
    print(counter)
    counter += 1
    
print("-------End of loop-------")

0
1
2
3
4
5
6
7
8
9
10
-------End of loop-------

In [18]:
counter = 0

while(counter<=10):
    print(counter)
    counter += 1
    print("-------End of loop-------")

0
-------End of loop-------
1
-------End of loop-------
2
-------End of loop-------
3
-------End of loop-------
4
-------End of loop-------
5
-------End of loop-------
6
-------End of loop-------
7
-------End of loop-------
8
-------End of loop-------
9
-------End of loop-------
10
-------End of loop-------

## For loop

In [ ]:
""""
range(start, stop, step)
start -> default 0
stop  -> Mandatory, upper bounds are excluded
step  -> Default 1, increment by
""""

In [19]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [22]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## List

In [23]:
mList = [11,22,33,44,55,66,77,88,99]

In [24]:
print("Datatype ", type(mList))
print("Value", mList)
print("Number of elements", len(mList))

Datatype  <class 'list'>
Value [11, 22, 33, 44, 55, 66, 77, 88, 99]
Number of elements 9

In [25]:
print(mList[0])
print(mList[2])
print(mList[5])

11
33
66

In [26]:
for i in mList:
    print(i, end=" ")

11 22 33 44 55 66 77 88 99

In [27]:
mList

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [29]:
mList.append(5)
print(mList)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 97, 5]

In [ ]:
mList.append(97)
print(mList)

In [30]:
mList.sort()
print(mList)

[5, 11, 22, 33, 44, 55, 66, 77, 88, 97, 99]

## Tuples
Immutable list of values

## Dictionary

In [31]:
# empDict = {key:value}
empDict = {"eid":100,"name":"steven","salary":24000.89,"job":"salesRep"}

In [32]:
print("Datatype", type(empDict))
print("All values", empDict)
print("Only Keys", empDict.keys())
print("Only Values", empDict.values())
print("Value at key name", empDict["name"])

Datatype <class 'dict'>
All values {'eid': 100, 'name': 'steven', 'salary': 24000.89, 'job': 'salesRep'}
Only Keys dict_keys(['eid', 'name', 'salary', 'job'])
Only Values dict_values([100, 'steven', 24000.89, 'salesRep'])
Value at key name steven

In [33]:
for i in empDict:
    print(i, empDict[i])

eid 100
name steven
salary 24000.89
job salesRep

## Slicing

In [34]:
letters = ["a","b","c","d","e","f","g","h","i","j"]

In [35]:
# everything in the list
letters[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [36]:
# everything in the list
letters[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [37]:
letters[2:]

['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [38]:
letters[:7]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [39]:
# Start 0 stop 7 step 1
letters[2:7]

['c', 'd', 'e', 'f', 'g']

In [41]:
# Start 0 Stop 7 Step 1
letters[-8:-3]

['c', 'd', 'e', 'f', 'g']

In [42]:
# Start 1 Stop -5 Step 1
letters[1:-5]

['b', 'c', 'd', 'e']

In [43]:
# Start 1 Stop 3 Step 1
letters[7:3:1]

[]

In [44]:
# Start 1 Stop 3 Step -1
letters[7:3:-1]

['h', 'g', 'f', 'e']

In [45]:
# Start -7 Stop -9 Step -1
letters[-2:-9:-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c']

In [47]:
# Start 2 Stop 30 Step 1
letters[2:30]

['c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [48]:
# display last 5 elements in the list
letters[-5:]

['f', 'g', 'h', 'i', 'j']

In [49]:
# Display the entire list except the last value
letters[0:-1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [50]:
# Step 1
letters[::1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [51]:
# Step 2
letters[::2]

['a', 'c', 'e', 'g', 'i']

In [52]:
# Step 3
letters[::3]

['a', 'd', 'g', 'j']